<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test Spotify API Test Cases">
    <listeners>
        <listener class-name="com.aventstack.chaintest.plugins.ChainTestListener" />
        <listener class-name="io.qameta.allure.testng.AllureTestNg" />
        <listener class-name="Listners.TestListners" />

    </listeners>
    <test name="MyTest">
        <classes>
            <class name="com.spotify.TC1_PlaylistTest"/>
            <class name="com.spotify.TC2_createAndVerifyPlaylistTest"/>
            <!-- Add more classes if needed -->
        </classes>
    </test>
</suite>